.caixa_associados{
	width:30%;
	height:260px;
	background:#423d3d;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;

}

.barra1{
	width:100%;
	height:50px;
	background:#222;
}
.barra2{
	width:100%;
	height:50px;
	background:#222;
	bottom:;
}
.logo_associados{
	margin-right:auto;
	margin-left:auto;
	opacity:0.9;
}
.barra1{
	text-align:center;
	color:#fff;
	opacity:0.9;
}
.barra2 > {
	text-decoration:none;
	color:khaki;
}
.barra_p{
	text-align:center;
	color:#fff;

}
.barra2 > a > p{
	background:black;

	opacity:0.8;
	width:40%;
	height:50px;
	margin-left:auto;
	margin-right:auto;
}
.barra2 > a > p:hover{
	background:khaki;
	color:#222;
	font-weight:bold;
}
main{
	display:flex;
	justify-content:space-between;
}

@media only screen and (max-width:300px) {
	main{
		display:flex;
		flex-direction:column;
		justify-content:center;

	}
	.caixa_associados{
	width:30%;
	height:260px;
	background:#423d3d;
	display:flex;
	
	justify-content:space-around;

	}
}
@media only screen and (max-width:991px){
		
		.barra2 > a > p{
	background:black;

	opacity:0.8;
	width:50%;
	height:50px;
	margin-left:auto;
	margin-right:auto;
}

	}

@media only screen and (max-width:768px){
		main{
		display:flex;
		flex-direction:column;
		

	}
	.caixa_associados{
	width:80%;
	height:260px;
	background:#423d3d;
	display:flex;
	margin:auto;	
	margin-bottom:70px;


	}
@media only screen and (max-width:300px){
		main{
		display:flex;
		flex-direction:column;
		justify-content:center;

	}
	.caixa_associados{
	width:30%;
	height:260px;
	background:#423d3d;
	display:flex;
	
	justify-content:space-around;

	}
@media only screen and (max-width:400px){
		main{
		display:flex;
		flex-direction:column;
		justify-content:center;

	}
	.caixa_associados{
	width:30%;
	height:260px;
	background:#423d3d;
	display:flex;
	
	justify-content:space-around;

	}
}
@media only screen and (max-width:492px){
		main{
		display:flex;
		flex-direction:column;
		justify-content:center;

	}
	.caixa_associados{
	width:30%;
	height:260px;
	background:#423d3d;
	display:flex;
	
	justify-content:space-around;

	}
}

@media only screen and (max-width:500px){
		main{
		display:flex;
		flex-direction:column;
		justify-content:center;

	}
	.caixa_associados{
	width:30%;
	height:260px;
	background:#423d3d;
	display:flex;
	
	justify-content:space-around;

	}